# Analysis of Air Quality Index(AQI) of India between 2015-2021 and what's the major effect of Lockdown on AQI

In [1]:
Numerical_Values = ['0-50','51-100','101-150','151-200','201-300','301-500']
color = ['Green','Yellow','Orange','Red','Purple','Maroon']
Air_Quality_Index_Level_of_Health_concern = ['Good','Moderate','Unhealthy for sensitive groups','Unhealthy','Very Unhealthy','Hazardous']
AQI_Info = pd.DataFrame({'Numerical Values of AQI':Numerical_Values,'Color':color,'Air Quality Index Level of Health concern':Air_Quality_Index_Level_of_Health_concern})
AQI_Info

NameError: name 'pd' is not defined

## Imorting Libraries

In [2]:
import pandas as pd
import matplotlib as plt
%matplotlib inline
import sklearn as skt
import numpy as np

# Lets Import our Datasets

In [3]:
city_day = pd.read_csv('city_day.csv')
city_hour = pd.read_csv('city_hour.csv')
station_day = pd.read_csv('station_day.csv')
station_hour = pd.read_csv('station_hour.csv')
stations = pd.read_csv('stations.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (15) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

## Lets clean the dataset one by one

### 1. City_day

In [4]:
city_day.head()

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Ahmedabad,2015-01-01,NaN,NaN,0.92,18.22,17.15,NaN,0.92,27.64,133.36,0.00,0.02,0.00,NaN,NaN
1,Ahmedabad,2015-01-02,NaN,NaN,0.97,15.69,16.46,NaN,0.97,24.55,34.06,3.68,5.50,3.77,NaN,NaN
2,Ahmedabad,2015-01-03,NaN,NaN,17.40,19.30,29.70,NaN,17.40,29.07,30.70,6.80,16.40,2.25,NaN,NaN
3,Ahmedabad,2015-01-04,NaN,NaN,1.70,18.48,17.97,NaN,1.70,18.59,36.08,4.43,10.14,1.00,NaN,NaN
4,Ahmedabad,2015-01-05,NaN,NaN,22.10,21.42,37.76,NaN,22.10,39.33,39.31,7.01,18.89,2.78,NaN,NaN

In [5]:
city_day.shape

(29531, 16)

In [6]:
city_day.dtypes

City           object
Date           object
PM2.5         float64
PM10          float64
NO            float64
NO2           float64
NOx           float64
NH3           float64
CO            float64
SO2           float64
O3            float64
Benzene       float64
Toluene       float64
Xylene        float64
AQI           float64
AQI_Bucket     object
dtype: object

In [7]:
city_day.isnull().sum()

City              0
Date              0
PM2.5          4598
PM10          11140
NO             3582
NO2            3585
NOx            4185
NH3           10328
CO             2059
SO2            3854
O3             4022
Benzene        5623
Toluene        8041
Xylene        18109
AQI            4681
AQI_Bucket     4681
dtype: int64

In [8]:
city_day.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29531 entries, 0 to 29530
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        29531 non-null  object
 1   Date        29531 non-null  object
 2   PM2.5       24933 non-null  float64
 3   PM10        18391 non-null  float64
 4   NO          25949 non-null  float64
 5   NO2         25946 non-null  float64
 6   NOx         25346 non-null  float64
 7   NH3         19203 non-null  float64
 8   CO          27472 non-null  float64
 9   SO2         25677 non-null  float64
 10  O3          25509 non-null  float64
 11  Benzene     23908 non-null  float64
 12  Toluene     21490 non-null  float64
 13  Xylene      11422 non-null  float64
 14  AQI         24850 non-null  float64
 15  AQI_Bucket  24850 non-null  object
dtypes: float64(13), object(3)
memory usage: 3.6+ MB

### we are going to fill the null values with 'ffill' method

In [9]:
city_day['PM2.5'].fillna(method = 'ffill',inplace = True)
city_day['PM10'].fillna(method = 'ffill',inplace = True)
city_day['NO'].fillna(method = 'ffill',inplace = True)
city_day['NO2'].fillna(method = 'ffill',inplace = True)
city_day['NOx'].fillna(method = 'ffill',inplace = True)
city_day['NH3'].fillna(method = 'ffill',inplace = True)
city_day['CO'].fillna(method = 'ffill',inplace = True)
city_day['SO2'].fillna(method = 'ffill',inplace = True)
city_day['O3'].fillna(method = 'ffill',inplace = True)
city_day['Benzene'].fillna(method = 'ffill',inplace = True)
city_day['Toluene'].fillna(method = 'ffill',inplace = True)
city_day['Xylene'].fillna(method = 'ffill',inplace = True)

In [10]:
city_day.isnull().sum()

City             0
Date             0
PM2.5           27
PM10          1594
NO               0
NO2              0
NOx              0
NH3           2009
CO               0
SO2              0
O3               0
Benzene          0
Toluene          0
Xylene           0
AQI           4681
AQI_Bucket    4681
dtype: int64

### As we can see some pollutant still have null values, so we are going to fill these values with there mean of particular pollutant

In [11]:
city_day.describe(include='all')

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
count,29531,29531,29504.000000,27937.000000,29531.000000,29531.000000,29531.000000,27522.000000,29531.000000,29531.000000,29531.000000,29531.000000,29531.000000,29531.000000,24850.000000,24850
unique,26,2009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
top,Ahmedabad,2020-06-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Moderate
freq,2009,26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8829
mean,NaN,NaN,66.130899,95.070437,17.201890,26.909513,32.611069,22.359410,2.292734,15.650236,34.130603,3.130408,7.027591,2.864628,166.463581,NaN
std,NaN,NaN,64.130750,86.577554,23.245966,23.671982,33.829601,26.695912,6.824266,20.583528,21.631257,15.988058,17.841550,5.383474,140.696585,NaN
min,NaN,NaN,0.040000,0.010000,0.020000,0.010000,0.000000,0.010000,0.000000,0.010000,0.010000,0.000000,0.000000,0.000000,13.000000,NaN
25%,NaN,NaN,29.160000,31.580000,5.900000,11.630000,13.180000,7.820000,0.500000,5.740000,18.860000,0.050000,0.280000,0.180000,81.000000,NaN
50%,NaN,NaN,46.850000,72.380000,9.280000,19.720000,21.980000,13.395000,0.910000,8.950000,31.480000,0.670000,1.720000,1.250000,118.000000,NaN
75%,NaN,NaN,78.652500,122.290000,18.560000,35.030000,38.660000,25.500000,1.490000,15.840000,44.215000,2.750000,6.710000,2.695000,208.000000,NaN
max,NaN,NaN,949.990000,1000.000000,390.680000,362.210000,467.630000,352.890000,175.810000,193.860000,257.730000,455.030000,454.850000,170.370000,2049.000000,NaN

In [12]:
city_day.fillna({'PM2.5':66.130899,'PM10':95.07043,'NH3':22.3594},inplace = True)

In [13]:
city_day.isnull().sum()

City             0
Date             0
PM2.5            0
PM10             0
NO               0
NO2              0
NOx              0
NH3              0
CO               0
SO2              0
O3               0
Benzene          0
Toluene          0
Xylene           0
AQI           4681
AQI_Bucket    4681
dtype: int64

### Now we can see all missing values are filled with there perfect value

## 2.city_hour

In [14]:
city_hour.head()

,City,Datetime,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Ahmedabad,01-01-2015 01:00,NaN,NaN,1.00,40.01,36.37,NaN,1.00,122.07,NaN,0.0,0.0,0.0,NaN,NaN
1,Ahmedabad,01-01-2015 02:00,NaN,NaN,0.02,27.75,19.73,NaN,0.02,85.90,NaN,0.0,0.0,0.0,NaN,NaN
2,Ahmedabad,01-01-2015 03:00,NaN,NaN,0.08,19.32,11.08,NaN,0.08,52.83,NaN,0.0,0.0,0.0,NaN,NaN
3,Ahmedabad,01-01-2015 04:00,NaN,NaN,0.30,16.45,9.20,NaN,0.30,39.53,153.58,0.0,0.0,0.0,NaN,NaN
4,Ahmedabad,01-01-2015 05:00,NaN,NaN,0.12,14.90,7.85,NaN,0.12,32.63,NaN,0.0,0.0,0.0,NaN,NaN

In [15]:
city_hour.shape

(707875, 16)

In [16]:
city_hour.isnull().sum()

City               0
Datetime           0
PM2.5         145088
PM10          296737
NO            116632
NO2           117122
NOx           123224
NH3           272542
CO             86517
SO2           130373
O3            129208
Benzene       163646
Toluene       220607
Xylene        455829
AQI           129080
AQI_Bucket    129080
dtype: int64

### we are going to fill the null values with 'ffill' method

In [17]:
city_hour['PM2.5'].fillna(method = 'ffill',inplace = True)
city_hour['PM10'].fillna(method = 'ffill',inplace = True)
city_hour['NO'].fillna(method = 'ffill',inplace = True)
city_hour['NO2'].fillna(method = 'ffill',inplace = True)
city_hour['NOx'].fillna(method = 'ffill',inplace = True)
city_hour['NH3'].fillna(method = 'ffill',inplace = True)
city_hour['CO'].fillna(method = 'ffill',inplace = True)
city_hour['SO2'].fillna(method = 'ffill',inplace = True)
city_hour['O3'].fillna(method = 'ffill',inplace = True)
city_hour['Benzene'].fillna(method = 'ffill',inplace = True)
city_hour['Toluene'].fillna(method = 'ffill',inplace = True)
city_hour['Xylene'].fillna(method = 'ffill',inplace = True)

In [52]:
city_hour.isnull().sum()

City               0
Datetime           0
PM2.5            665
PM10           38274
NO                 0
NO2                0
NOx                0
NH3            48192
CO                 0
SO2                0
O3                 3
Benzene            0
Toluene            0
Xylene             0
AQI           129080
AQI_Bucket    129080
dtype: int64

### As we can see some pollutant still have null values, so we are going to fill these values with there mean of particular pollutant

In [53]:
city_hour.describe(include='all')

,City,Datetime,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
count,707875,707875,707210.000000,669601.000000,707875.000000,707875.000000,707875.000000,659683.000000,707875.000000,707875.000000,707872.000000,707875.000000,707875.000000,707875.000000,578795.000000,578795
unique,26,48192,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
top,Lucknow,10-04-2020 03:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Moderate
freq,48192,26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198991
mean,NaN,NaN,65.518777,94.909327,17.268706,26.812960,33.473718,21.442548,2.334911,15.018375,35.085841,3.331737,7.340007,2.931787,166.413500,NaN
std,NaN,NaN,75.247013,96.558741,33.156022,28.740254,44.296272,27.287127,11.103848,22.606064,31.071894,19.573137,22.189300,7.729179,162.112729,NaN
min,NaN,NaN,0.010000,0.010000,0.010000,0.010000,0.000000,0.010000,0.000000,0.010000,0.010000,0.000000,0.000000,0.000000,8.000000,NaN
25%,NaN,NaN,26.000000,31.580000,3.750000,9.880000,10.460000,7.310000,0.400000,4.880000,13.420000,0.000000,0.100000,0.180000,79.000000,NaN
50%,NaN,NaN,44.500000,72.380000,8.240000,17.640000,18.900000,12.870000,0.810000,7.890000,26.720000,0.490000,1.290000,0.950000,116.000000,NaN
75%,NaN,NaN,74.870000,118.330000,15.590000,33.770000,36.560000,24.270000,1.420000,14.890000,46.340000,2.430000,6.060000,2.620000,208.000000,NaN
max,NaN,NaN,999.990000,1000.000000,499.990000,499.510000,498.610000,499.970000,498.570000,199.960000,497.620000,498.070000,499.400000,499.990000,3133.000000,NaN

In [54]:
city_hour.fillna({'PM2.5':65.518777,'PM10':94.909327,'NH3':21.442548},inplace = True)

In [55]:
city_hour.isnull().sum()

City               0
Datetime           0
PM2.5              0
PM10               0
NO                 0
NO2                0
NOx                0
NH3                0
CO                 0
SO2                0
O3                 3
Benzene            0
Toluene            0
Xylene             0
AQI           129080
AQI_Bucket    129080
dtype: int64

### Now we can see all missing values are filled with there perfect value

## 3.station_day

In [56]:
station_day.head()

,StationId,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,AP001,24-11-2017,71.36,115.75,1.75,20.65,12.40,12.19,0.10,10.76,109.26,0.17,5.92,0.10,NaN,NaN
1,AP001,25-11-2017,81.40,124.50,1.44,20.50,12.08,10.72,0.12,15.24,127.09,0.20,6.50,0.06,184.0,Moderate
2,AP001,26-11-2017,78.32,129.06,1.26,26.00,14.85,10.28,0.14,26.96,117.44,0.22,7.95,0.08,197.0,Moderate
3,AP001,27-11-2017,88.76,135.32,6.60,30.85,21.77,12.91,0.11,33.59,111.81,0.29,7.63,0.12,198.0,Moderate
4,AP001,28-11-2017,64.18,104.09,2.56,28.07,17.01,11.42,0.09,19.00,138.18,0.17,5.02,0.07,188.0,Moderate

In [57]:
station_day.shape

(108035, 16)

In [58]:
station_day.isnull().sum()

StationId         0
Date              0
PM2.5         21625
PM10          42706
NO            17106
NO2           16547
NOx           15500
NH3           48105
CO            12998
SO2           25204
O3            25568
Benzene       31455
Toluene       38702
Xylene        85137
AQI           21010
AQI_Bucket    21010
dtype: int64

### we are going to fill the null values with 'ffill' method

In [59]:
station_day['PM2.5'].fillna(method = 'ffill',inplace = True)
station_day['PM10'].fillna(method = 'ffill',inplace = True)
station_day['NO'].fillna(method = 'ffill',inplace = True)
station_day['NO2'].fillna(method = 'ffill',inplace = True)
station_day['NOx'].fillna(method = 'ffill',inplace = True)
station_day['NH3'].fillna(method = 'ffill',inplace = True)
station_day['CO'].fillna(method = 'ffill',inplace = True)
station_day['SO2'].fillna(method = 'ffill',inplace = True)
station_day['O3'].fillna(method = 'ffill',inplace = True)
station_day['Benzene'].fillna(method = 'ffill',inplace = True)
station_day['Toluene'].fillna(method = 'ffill',inplace = True)
station_day['Xylene'].fillna(method = 'ffill',inplace = True)

In [60]:
station_day.isnull().sum()

StationId         0
Date              0
PM2.5             0
PM10              0
NO                0
NO2               0
NOx               0
NH3               0
CO                0
SO2               0
O3                0
Benzene           0
Toluene           0
Xylene            0
AQI           21010
AQI_Bucket    21010
dtype: int64

In [69]:
station_day.head(30)

,StationId,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,AP001,24-11-2017,71.36,115.75,1.75,20.65,12.40,12.19,0.10,10.76,109.26,0.17,5.92,0.10,NaN,NaN
1,AP001,25-11-2017,81.40,124.50,1.44,20.50,12.08,10.72,0.12,15.24,127.09,0.20,6.50,0.06,184.0,Moderate
2,AP001,26-11-2017,78.32,129.06,1.26,26.00,14.85,10.28,0.14,26.96,117.44,0.22,7.95,0.08,197.0,Moderate
3,AP001,27-11-2017,88.76,135.32,6.60,30.85,21.77,12.91,0.11,33.59,111.81,0.29,7.63,0.12,198.0,Moderate
4,AP001,28-11-2017,64.18,104.09,2.56,28.07,17.01,11.42,0.09,19.00,138.18,0.17,5.02,0.07,188.0,Moderate
5,AP001,29-11-2017,72.47,114.84,5.23,23.20,16.59,12.25,0.16,10.55,109.74,0.21,4.71,0.08,173.0,Moderate
6,AP001,30-11-2017,69.80,114.86,4.69,20.17,14.54,10.95,0.12,14.07,118.09,0.16,3.52,0.06,165.0,Moderate
7,AP001,01-12-2017,73.96,113.56,4.58,19.29,13.97,10.95,0.10,13.90,123.80,0.17,2.85,0.04,191.0,Moderate
8,AP001,02-12-2017,89.90,140.20,7.71,26.19,19.87,13.12,0.10,19.37,128.73,0.25,2.79,0.07,191.0,Moderate
9,AP001,03-12-2017,87.14,130.52,0.97,21.31,12.12,14.36,0.15,11.41,114.80,0.23,3.82,0.04,227.0,Poor
10,AP001,04-12-2017,84.64,125.00,4.02,26.98,17.58,14.41,0.18,9.84,112.41,0.31,3.53,0.09,168.0,Moderate
11,AP001,05-12-2017,88.36,121.77,3.70,20.23,13.75,13.72,0.12,14.02,117.93,0.24,2.92,0.03,198.0,Moderate
12,AP001,06-12-2017,96.83,139.36,1.60,25.65,14.99,15.12,0.11,16.54,117.21,0.29,4.45,0.07,201.0,Poor
13,AP001,07-12-2017,117.46,181.64,4.26,41.10,25.32,17.34,0.13,28.79,94.63,0.36,6.21,0.17,252.0,Poor
14,AP001,08-12-2017,122.88,208.86,5.56,54.87,33.71,17.96,0.27,22.97,68.60,0.36,6.28,0.21,310.0,Very Poor
15,AP001,09-12-2017,74.28,141.22,6.10,44.97,28.88,15.73,0.09,21.90,60.62,0.26,4.79,0.16,196.0,Moderate
16,AP001,10-12-2017,50.32,102.77,1.73,33.85,19.41,12.56,0.10,13.65,68.15,0.20,4.29,0.10,132.0,Moderate
17,AP001,11-12-2017,58.47,115.27,4.93,41.64,26.15,15.20,0.16,18.37,73.75,0.23,5.51,0.16,147.0,Moderate
18,AP001,12-12-2017,89.35,131.48,7.97,42.10,28.88,21.24,0.24,7.42,44.67,0.28,7.01,0.19,179.0,Moderate
19,AP001,13-12-2017,64.42,99.74,7.20,34.78,24.36,17.63,0.15,5.81,50.16,0.24,6.11,0.14,145.0,Moderate
20,AP001,14-12-2017,69.40,98.94,5.81,29.97,20.67,19.34,0.14,5.80,55.00,0.23,5.09,0.14,115.0,Moderate
21,AP001,15-12-2017,71.07,109.65,4.19,25.00,16.70,16.00,0.10,8.33,79.04,0.18,3.45,0.07,140.0,Moderate
22,AP001,16-12-2017,79.76,129.81,8.77,40.92,28.84,15.56,0.17,8.51,73.17,0.24,4.41,0.13,156.0,Moderate
23,AP001,17-12-2017,108.06,167.62,7.29,47.05,30.94,18.52,0.08,16.05,70.74,0.31,4.32,0.24,225.0,Poor
24,AP001,18-12-2017,100.75,172.04,7.63,53.94,33.45,18.49,0.11,14.05,59.20,0.26,3.77,0.19,251.0,Poor
25,AP001,19-12-2017,106.25,171.56,2.74,43.09,21.78,19.66,0.13,15.45,66.90,0.28,3.13,0.18,228.0,Poor
26,AP001,20-12-2017,83.79,141.83,6.77,47.47,30.74,17.37,0.30,13.35,77.54,0.29,3.70,0.15,223.0,Poor
27,AP001,21-12-2017,79.98,147.74,7.02,49.55,32.07,17.28,0.14,13.58,79.71,0.33,3.95,0.19,170.0,Moderate
28,AP001,22-12-2017,76.27,152.59,7.51,56.00,35.90,19.53,0.15,29.88,56.97,0.29,4.44,0.19,165.0,Moderate
29,AP001,23-12-2017,86.50,147.95,5.24,42.00,26.60,20.78,0.15,11.85,73.09,0.31,3.90,0.17,159.0,Moderate

### Now we can see all missing values are filled with 'ffill' method

## 4.station_hour

In [61]:
station_hour.head()

,StationId,Datetime,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,AP001,24-11-2017 17:00,60.50,98.00,2.35,30.80,18.25,8.50,0.1,11.85,126.40,0.1,6.10,0.10,NaN,NaN
1,AP001,24-11-2017 18:00,65.50,111.25,2.70,24.20,15.07,9.77,0.1,13.17,117.12,0.1,6.25,0.15,NaN,NaN
2,AP001,24-11-2017 19:00,80.00,132.00,2.10,25.18,15.15,12.02,0.1,12.08,98.98,0.2,5.98,0.18,NaN,NaN
3,AP001,24-11-2017 20:00,81.50,133.25,1.95,16.25,10.23,11.58,0.1,10.47,112.20,0.2,6.72,0.10,NaN,NaN
4,AP001,24-11-2017 21:00,75.25,116.00,1.43,17.48,10.43,12.03,0.1,9.12,106.35,0.2,5.75,0.08,NaN,NaN

In [62]:
station_hour.shape

(1048575, 16)

In [63]:
station_hour.isnull().sum()

StationId          0
Datetime           0
PM2.5         248389
PM10          342735
NO            230649
NO2           217132
NOx           192672
NH3           466777
CO            221049
SO2           384227
O3            250488
Benzene       346715
Toluene       376388
Xylene        835117
AQI           239544
AQI_Bucket    239544
dtype: int64

### we are going to fill the null values with 'ffill' method

In [64]:
station_hour['PM2.5'].fillna(method = 'ffill',inplace = True)
station_hour['PM10'].fillna(method = 'ffill',inplace = True)
station_hour['NO'].fillna(method = 'ffill',inplace = True)
station_hour['NO2'].fillna(method = 'ffill',inplace = True)
station_hour['NOx'].fillna(method = 'ffill',inplace = True)
station_hour['NH3'].fillna(method = 'ffill',inplace = True)
station_hour['CO'].fillna(method = 'ffill',inplace = True)
station_hour['SO2'].fillna(method = 'ffill',inplace = True)
station_hour['O3'].fillna(method = 'ffill',inplace = True)
station_hour['Benzene'].fillna(method = 'ffill',inplace = True)
station_hour['Toluene'].fillna(method = 'ffill',inplace = True)
station_hour['Xylene'].fillna(method = 'ffill',inplace = True)

In [65]:
station_hour.isnull().sum()

StationId          0
Datetime           0
PM2.5              0
PM10               0
NO                 0
NO2                0
NOx                0
NH3                0
CO                 0
SO2                0
O3                 0
Benzene            0
Toluene            0
Xylene             0
AQI           239544
AQI_Bucket    239544
dtype: int64

In [66]:
station_hour.describe(include='all')

,StationId,Datetime,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
count,1048575,1048575,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,809031.000000,809031
unique,42,48192,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
top,DL007,16-04-2020 19:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Moderate
freq,48192,40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,263287
mean,NaN,NaN,1.037582e+02,1.840226e+02,3.177905e+01,4.247370e+01,5.225320e+01,3.357030e+01,1.405888e+00,1.431761e+01,4.560102e+01,3.586940e+00,3.132507e+01,8.985887e-01,226.952556,NaN
std,NaN,NaN,1.003599e+02,1.490169e+02,6.234017e+01,4.020675e+01,7.273229e+01,2.817129e+01,2.449075e+00,1.203288e+01,7.757408e+01,6.409659e+00,4.728984e+01,5.826560e+00,133.207479,NaN
min,NaN,NaN,1.000000e-02,1.000000e-02,1.000000e-02,1.000000e-02,0.000000e+00,1.000000e-02,0.000000e+00,1.000000e-02,1.000000e-02,0.000000e+00,0.000000e+00,0.000000e+00,16.000000,NaN
25%,NaN,NaN,4.100000e+01,8.400000e+01,4.000000e+00,1.629000e+01,1.415000e+01,1.912000e+01,5.000000e-01,7.620000e+00,1.097000e+01,3.000000e-01,6.200000e-01,0.000000e+00,114.000000,NaN
50%,NaN,NaN,6.750000e+01,1.372500e+02,9.980000e+00,3.075000e+01,2.748000e+01,2.838000e+01,9.500000e-01,1.192000e+01,2.621000e+01,1.700000e+00,8.470000e+00,0.000000e+00,198.000000,NaN
75%,NaN,NaN,1.382500e+02,2.337150e+02,2.577000e+01,5.490000e+01,5.703000e+01,4.055000e+01,1.520000e+00,1.835000e+01,4.998000e+01,6.100000e+00,4.093000e+01,1.000000e-01,320.000000,NaN
max,NaN,NaN,1.000000e+03,1.000000e+03,5.000000e+02,4.999700e+02,5.000000e+02,4.941100e+02,5.000000e+01,1.997700e+02,9.970000e+02,4.915100e+02,4.998000e+02,4.763100e+02,1113.000000,NaN

In [67]:
station_hour.head()

,StationId,Datetime,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,AP001,24-11-2017 17:00,60.50,98.00,2.35,30.80,18.25,8.50,0.1,11.85,126.40,0.1,6.10,0.10,NaN,NaN
1,AP001,24-11-2017 18:00,65.50,111.25,2.70,24.20,15.07,9.77,0.1,13.17,117.12,0.1,6.25,0.15,NaN,NaN
2,AP001,24-11-2017 19:00,80.00,132.00,2.10,25.18,15.15,12.02,0.1,12.08,98.98,0.2,5.98,0.18,NaN,NaN
3,AP001,24-11-2017 20:00,81.50,133.25,1.95,16.25,10.23,11.58,0.1,10.47,112.20,0.2,6.72,0.10,NaN,NaN
4,AP001,24-11-2017 21:00,75.25,116.00,1.43,17.48,10.43,12.03,0.1,9.12,106.35,0.2,5.75,0.08,NaN,NaN

In [ ]:
# PM10 Sub-Index calculation
def get_PM10_subindex(x):
    if x <= 50:
        return x
    elif x > 50 and x <= 100:
        return x
    elif x > 100 and x <=250:
        return 100 + (x - 100) * 100 / 150
    elif x > 250 and x <=350:
        return 200 + (x - 250)
    elif x > 350 and x <=430:
        return 300 + (x - 350) * 100 / 80
    elif x > 430:
        return 400 + (x - 430) * 100 / 80
    else:
        return 0

city_day['PM10_SubIndex'] = city_day['PM10'].astype(int).apply(lambda x: get_PM10_subindex(x))

# PM2.5 Sub-Index calculation
def get_PM25_subindex(x):
    if x<= 30:
        return x * 50 /30
    elif x>30 and x <= 60:
        return 50 +(x-30) * 50/30
    elif x>60 and x<= 90:
        return 100 + (x-90) * 100/30
    elif x>90 and x<= 130:
        return  200 + (x-90) * 100 /30
    elif x>120 and x<= 250:
        return  300 + (x-120) * 100 /130
    elif x>250:
        return  400 + (x-250) * 100 /130
    else:
        return 0
         
city_day["PM2.5_SubIndex"] = city_day["PM2.5"].astype(int).apply(lambda x: get_PM25_subindex(x))

# SO2 Sub-Index calculation
def get_SO2_subindex(x):
    if x<= 40:
        return x * 50 / 40
    elif x>80 and x <= 80:
        return 50 +(x-40) * 50/40
    elif x>80 and x<= 380:
        return 100 + (x-80) * 100/300
    elif x>300 and x<= 800:
        return  200 + (x-380) * 100 /420
    elif x>800 and x<= 1600:
        return  300 + (x-800) * 100 /800
    elif x>1600:
        return  400 + (x-1600) * 100 /800
    else:
        return 0

    
city_day["SO2_SubIndex"] = city_day["SO2"].astype(int).apply(lambda x: get_SO2_subindex(x))

# NOx Sub-Index calculation
def get_NOx_subindex(x):
    if x<= 40:
        return x * 50 / 40
    elif x>40 and x <= 80:
        return 50 +(x-40) * 50/40
    elif x>80 and x<= 180:
        return 100 + (x-80) * 100/100
    elif x>180 and x<= 280:
        return  200 + (x-180) * 100 /100
    elif x>280 and x<= 400:
        return  300 + (x-280) * 100 /120
    elif x>400:
        return  400 + (x-400) * 100 /120
    else:
        return 0

city_day["NOx_SubIndex"] = city_day["NOx"].astype(int).apply(lambda x: get_NOx_subindex(x))

# NH3 Sub-Index calculation
def get_NH3_subindex(x):
    if x<= 200:
        return x * 50 / 200
    elif x>200 and x <= 400:
        return 50 +(x-200) * 50/200
    elif x>400 and x<= 800:
        return 100 + (x-400) * 100/400
    elif x>800 and x<= 1200:
        return  200 + (x-800) * 100 /400
    elif x>1200 and x<= 1800:
        return  300 + (x-1200) * 100 /600
    elif x>1800:
        return  400 + (x-1800) * 100 /600
    else:
        return 0
    
city_day["NH3_SubIndex"] = city_day["NH3"].astype(int).apply(lambda x: get_NH3_subindex(x))

# CO Sub-Index calculation
def get_CO_subindex(x):
    if x<= 1:
        return x * 50 / 1
    elif x>1 and x <= 2:
        return 50 +(x-1) * 50/1
    elif x>2 and x<= 10:
        return 100 + (x-2) * 100/8
    elif x>10 and x<= 17:
        return  200 + (x-10) * 100 /7
    elif x>17 and x<= 34:
        return  300 + (x-17) * 100 /17
    elif x>34:
        return  400 + (x-34) * 100 /17
    else:
        return 0
    
city_day["CO_SubIndex"] = city_day["CO"].astype(int).apply(lambda x: get_CO_subindex(x))

# O3 Sub-Index calculation
def get_O3_subindex(x):
    if x<= 50:
        return x * 50 / 50
    elif x>50 and x <= 100:
        return 50 +(x-50) * 50/50
    elif x>100 and x<= 168:
        return 100 + (x-100) * 100/68
    elif x>168 and x<= 208:
        return  200 + (x-168) * 100 /40
    elif x>208 and x<= 748:
        return  300 + (x-208) * 100 /539
    elif x>748:
        return  400 + (x-400) * 100 /539
    else:
        return 0

city_day["O3_SubIndex"] = city_day["O3"].astype(int).apply(lambda x: get_O3_subindex(x))

In [ ]:
city_day['AQI'] = city_day['AQI'].fillna(round(city_day[["PM2.5_SubIndex", "PM10_SubIndex", "SO2_SubIndex", "NOx_SubIndex","NH3_SubIndex", "CO_SubIndex", "O3_SubIndex"]]))

### The AQI calculation uses 7 measures: PM2.5, PM10,SO2, NOx,NH3,CO and O3
##### ---> For PM2.5, PM10, SO2, NOx and NH3 the average value in last 24-hrs is used with the condition of having at least 16 values.
#### ----> For CO and O3 the maximum value in last 8-hrs is used.
#### ----> Each measure  is converted into a Sub-Index based on pre-defined groups.
#### ---->Sometimes measure are not available due to lack of measuring or lack of required data points.
#### ----> Final AQI is the maximum Sub-Index with the condition that at least one of PM2.5 and PM10 should be available and at least three out of the seven should be available.

In [1]:
### Now we can see here AQI_Bucket has 4681 missing values so have to fill these column according to his range
![image.png](attachment:image.png)

'[image.png]' is not recognized as an internal or external command,
operable program or batch file.

In [2]:
### Calculating the AQI Bucket and the NAN value present

In [ ]:
## AQI bucketing
def get_AQI_bucket(x):
    if x<= 50:
        return "Good"
    elif x>50 and x <= 100:
        return "Satisfactory"
    elif x>100 and x<= 200:
        return "Moderate"
    elif x>200 and x<= 300:
        return  "Poor"
    elif x>300 and x<= 400:
        return  "Very Poor"
    elif x>400:
        return  "Severe"
    else:
        return '0'
city_day["AQI_Bucket"] = city_day["AQI_Bucket"].fillna(city_day["AQI"].apply(lambda x: get_AQI_bucket(x)))